# --- .gitignore ---

# Data
datasets/
*.jpg
*.png
*.tif

# Model weights 
*.pt
*.pth
*.onnx

# Dir with MLflow experiments
mlruns/
multirun/

# db files
*.db

# Environments and caches
venv/
.env/
__pycache__/
*.pyc

# Local settings for IDEs
.vscode/

# output logs
outputs/